h1 {
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: -1px 1px 3px rgba(0,0,0,0.64);
  color: white;
}

.form_login_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  background: url(https://res.cloudinary.com/dmhprmqnk/image/upload/v1726747361/3132795_orz0g0.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form_login_container img {
  width: 20%;
  height: auto;
  filter: drop-shadow(2px 1px 4px #000000);
  animation: myAnim 20s ease-out 0s infinite forwards;
}

.form_login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    width: 50%;
    height: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: rgba(255, 255, 255, 0.09)
  }

  @keyframes myAnim {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }