h1 {
    padding: 10px;
    padding-bottom: 50px;
    text-align: center;
}

h2 {
    padding: 10px;
    padding-top: 20px;
    text-align: center;
}

.form_global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 10px;
    box-shadow: 0px 4px 5px grey;
    background-color: #6EDE8A;
}

.addButton {
    margin-bottom: 20px;
}

.form_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
}

.listpend_container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.listpend_header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 2px solid gray;
    font-weight: bold;
}

.listpend_body {
    display: flex;
    flex-direction: column;
}

.listpend_row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid gray;
    background-color: lightgray;
}

.listpend_item {
    width: 15%;
    text-align: center;
}

.listpend_header_item {
    width: 15%;
    margin-left: 4px;
    text-align: center;
}

.listpend_item listpend_header_item_2 {
    width: 20%;
    margin-left: 5px;
    text-align: center;
}

.listpend_container_p {
    text-align: center;
    width: 100%;
}
