.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 80px;
    padding: 10px;
    box-shadow: 0px 4px 5px grey;
}

.navbar_container img {
    width: 60px;
    height: auto;
    margin-left: 10px;
}

.navbar_container ul {
    display: flex;
    justify-content: space-around; /* Asegúrate de que esto esté bien escrito */
    align-items: center;
    width: 50%;
    height: 100%;
    list-style: none;
    padding: 0; /* Quitar padding */
    margin: 0; /* Quitar margin */
}

.navbar_container ul li {
    padding: 10px;
    text-align: center;
}

.links_container {
    text-decoration: none; /* Quitar subrayado */
    color: #000; /* Color por defecto */
}

.links_container:hover {
    color: #58bc82; /* Color al pasar el mouse */
}
