.add_order {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add_order h2 {
    margin: 0;
}

.search_container   {
    width: 80%;
}

.listpend_global    {
    border-radius: 10px;
    border: 2px solid grey;
}

.listpend_container {
    display: flex;
    flex-direction: column;
}

.listpend_header {
    display: flex;
    padding: 15px 0px;
    max-height: 51px;
    background-color: #f4f4f4;
    border-bottom: 2px solid gray;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
}

.listpend_body {
    display: flex;
    flex-direction: column;
}

.listpend_row {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 2px 0px;
    background-color: lightgray;
    border-bottom: 1px solid gray;
}

.listpend_item {
    width: 15%;
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.pagination_controls  {
    border-radius: 5px;
    box-shadow: 0px 4px 6px grey;
    font-weight: 450;
}